@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron.ttf');
}

.root {
    -fx-font-family: Orbitron;
}

.cell {
    -fx-font-size: 5em;
}

#timer {
    -fx-text-fill: red;
    -fx-font-size: 3em;
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-background-color: black;
    -fx-text-alignment: center;
    -fx-text-origin: baseline;
}

#grid-pane {
    -fx-background-color: #08610F;
}

#shade1 {
    -fx-background-color: #1CAD28;
}

#shade2 {
    -fx-background-color: #16871F;
}